# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b> Objectives:</b> 
- List popular languages for Data Science
- List libraries commonly used by Data Scientists
- Create a table of popular Data Science IDE's
- Create and execute arithmetic expression

Some of the popular languages that Data Scientists use are:
1) Python
2) R
3) SQL

Some of the commonly used libraries used by Data Scientists include:
1) TensorFlow
2) NumPy
3) SciPy
4) PyTorch

|Data Science Tools|
|------------------|
|Jypiter Notebook|
|Spyder|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = 200/60
print("%.2f" % hours)

3.33

## Author 
Maria xx